body { 
    background-color: #709BE3;
}

canvas{
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: auto;
  margin-bottom: auto;
  background-image: url("NmoPplv.jpg");
  border: 10px solid black;
}

form{
	text-align: center;
  font-weight:bold;
	font-size:2em;

   }
p{
  text-align: center;
  font-weight: bold;
  color: green;
  background-color: #EF930E;
}